<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hx.mapper.WebArticleMapper">

    <resultMap type="com.hx.domain.WebArticle" id="HxWebArticleMap">
        <result property="id" column="id"/>
        <result property="kindId" column="kind_id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleKeyWord" column="article_key_word"/>
        <result property="articleDesc" column="article_desc"/>
        <result property="articleImg" column="article_img"/>
        <result property="articleContent" column="article_content"/>
        <result property="articleTag" column="article_tag"/>
        <result property="articleSource" column="article_source"/>
        <result property="articleAuthor" column="article_author"/>
        <result property="articleSort" column="article_sort"/>
        <result property="displayStatus" column="display_status"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>


    <insert id="insertHxWebArticle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `hx_web_article`
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                `id`,
            </if>
            <if test="kindId!=null">
                `kind_id`,
            </if>
            <if test="articleTitle!=null">
                `article_title`,
            </if>
            <if test="articleKeyWord!=null">
                `article_key_word`,
            </if>
            <if test="articleDesc!=null">
                `article_desc`,
            </if>
            <if test="articleImg!=null">
                `article_img`,
            </if>
            <if test="articleContent!=null">
                `article_content`,
            </if>
            <if test="articleTag!=null">
                `article_tag`,
            </if>
            <if test="articleSource!=null">
                `article_source`,
            </if>
            <if test="articleAuthor!=null">
                `article_author`,
            </if>
            <if test="articleSort!=null">
                `article_sort`,
            </if>
            <if test="displayStatus!=null">
                `display_status`,
            </if>
            <if test="isDeleted!=null">
                `is_deleted`,
            </if>
            `gmt_create`,
            `gmt_modified`,
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="kindId!=null">
                #{kindId},
            </if>
            <if test="articleTitle!=null">
                #{articleTitle},
            </if>
            <if test="articleKeyWord!=null">
                #{articleKeyWord},
            </if>
            <if test="articleDesc!=null">
                #{articleDesc},
            </if>
            <if test="articleImg!=null">
                #{articleImg},
            </if>
            <if test="articleContent!=null">
                #{articleContent},
            </if>
            <if test="articleTag!=null">
                #{articleTag},
            </if>
            <if test="articleSource!=null">
                #{articleSource},
            </if>
            <if test="articleAuthor!=null">
                #{articleAuthor},
            </if>
            <if test="articleSort!=null">
                #{articleSort},
            </if>
            <if test="displayStatus!=null">
                #{displayStatus},
            </if>
            <if test="isDeleted!=null">
                #{isDeleted},
            </if>
            now(),
            now(),
        </trim>
        )
    </insert>


    <update id="updateHxWebArticle">
        UPDATE `hx_web_article`
        SET
        <trim suffixOverrides=",">
            <if test="kindId != null">
                `kind_id` = #{kindId},
            </if>
            <if test="articleTitle != null and articleTitle!=''">
                `article_title` = #{articleTitle},
            </if>
            <if test="articleKeyWord != null and articleKeyWord!=''">
                `article_key_word` = #{articleKeyWord},
            </if>
            <if test="articleDesc != null and articleDesc!=''">
                `article_desc` = #{articleDesc},
            </if>
            <if test="articleImg != null and articleImg!=''">
                `article_img` = #{articleImg},
            </if>
            <if test="articleContent != null and articleContent!=''">
                `article_content` = #{articleContent},
            </if>
            <if test="articleTag != null and articleTag!=''">
                `article_tag` = #{articleTag},
            </if>
            <if test="articleSource != null and articleSource!=''">
                `article_source` = #{articleSource},
            </if>
            <if test="articleAuthor != null and articleAuthor!=''">
                `article_author` = #{articleAuthor},
            </if>
            <if test="articleSort != null">
                `article_sort` = #{articleSort},
            </if>
            <if test="displayStatus != null">
                `display_status` = #{displayStatus},
            </if>
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="gmtCreate != null">
                `gmt_create` = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                `gmt_modified` = #{gmtModified},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `id` = #{id} and
        </trim>
    </update>

    <delete id="deleteByIds">
        delete from hx_web_article
        where id in
        <foreach collection="ids" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="java.lang.Integer">
        select count(1) from hx_web_article
    </select>

    <select id="pageQueryAll" resultType="com.hx.domain.WebArticle">
        SELECT * from hx_web_article limit #{start},#{limit}
    </select>

</mapper>